<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nv.dom.web.dao.essay.EssayMapper">

	<insert id="saveOrUpdateEssayDao" parameterType="Essay" useGeneratedKeys="true" keyProperty="essayId">
	
		<if test="essayId>0">
			UPDATE 
				d_essay de
			SET
				de.user_id=#{userId},
				de.type=#{type},
				de.header=#{header},
				de.content=#{content},
				de.update_time=NOW()
			WHERE
				de.id=#{essayId}
		</if>
		<if test="essayId==0">
			INSERT INTO d_essay (
				user_id,
				type,
				header,
				content,
				create_time
			)
			VALUES(
				#{userId},
				#{type},
				#{header},
				#{content},
				NOW()
			)
		</if>
	
	</insert>
	
	<select id="getReplayEssay" parameterType="long" resultType="Essay">
	
		SELECT
			de.id AS essayId,
			de.content AS content
		FROM
			d_essay de, d_game dg
		WHERE
			dg.replay_essay_id = de.id AND dg.id=#{gameId}
	
	</select>

</mapper>