<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nv.dom.web.dao.game.GameMapper">

	<resultMap type="ApplyingGame" id="applyingGame">
		<id property="id" column="id"/>
		<result property="gameDesc" column="desc"/>
		<result property="gameStatus" column="status"/>
		<result property="playerNum" column="player_num"/>
		<result property="startDate" column="startDate"/>
		<collection property="players" column="id" javaType="List" ofType="User" select="queryGamePlayerDao"></collection>
	</resultMap>

	<select id="getApplyingGamesDao" parameterType="long" resultMap="applyingGame">
	
		SELECT
			dg.id,
			dg.desc,
			dg.status,
			dg.player_num,
			IF(ISNULL(actual_start_date),estimated_start_date,actual_start_date) AS startDate
		FROM
			d_game dg LEFT JOIN d_player dp
		ON
			dg.status = 1 AND dp.role='judger' AND dp.game_id=dg.id
		WHERE
			dp.user_id=#{userId}
		GROUP BY
			dg.id
		LIMIT 1
				
	</select>
	
	<select id="queryGamePlayerDao" parameterType="long" resultType="UserApplyInfo">
	
		SELECT 
			du.id AS userId,
			du.nickname AS nickname,
			DATE_FORMAT(dp.apply_time,'%Y-%c-%d %H:%i:%s') AS applyTime
		FROM
			d_user du, d_player dp
		WHERE
			dp.role = "player" AND dp.user_id = du.id AND dp.game_id = #{gameId}
	
	</select>
	
	<select id="queryHasAttendGameDao" parameterType="ApplyDTO" resultType="Integer">
	
		SELECT
			count(1)
		FROM
			d_player
		WHERE
			user_id = #{userId}
	
	</select>
	
	<insert id="applyForGameDao" parameterType="ApplyDTO">
	
		INSERT INTO d_player (
			user_id,
			role,
			game_id			
		) 
		VALUES (
			#{userId},
			"player",
			#{gameId}
		)
	
	</insert>

</mapper>