<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nv.dom.web.dao.game.GameMapper">

	<resultMap type="ApplyingGame" id="applyingGame">
		<id property="id" column="id"/>
		<result property="gameDesc" column="description"/>
		<result property="gameStatus" column="status"/>
		<result property="playerNum" column="player_num"/>
		<result property="startDate" column="startDate"/>
		<collection property="players" column="id" javaType="List" ofType="User" select="queryGamePlayerDao"></collection>
	</resultMap>

	<select id="getApplyingGamesDao" parameterType="long" resultMap="applyingGame">
	
		SELECT
			dg.id,
			dg.description,
			dg.status,
			dg.player_num,
			IF(ISNULL(actual_start_date),estimated_start_date,actual_start_date) AS startDate
		FROM
			d_game dg LEFT JOIN d_player dp
		ON
			dg.status != 9 AND dp.role='judger' AND dp.game_id=dg.id
		WHERE
			dp.user_id=#{userId}
		GROUP BY
			dg.id
		LIMIT 1
				
	</select>
	
	<select id="queryGamePlayerDao" parameterType="long" resultType="UserApplyInfo">
	
		SELECT 
			du.id AS userId,
			dp.id AS playerId,
			du.nickname AS nickname,
			DATE_FORMAT(dp.apply_time,'%Y-%c-%d %H:%i:%s') AS applyTime,
			dc.id AS characterId,
			dc.name AS characterName,
			dpr.is_sp AS isSp,
			dpr.identity_desc AS identityDesc,
			dpr.apply_pioneer AS applyPioneer
		FROM
			d_user du, d_player dp LEFT JOIN (d_character dc LEFT JOIN d_player_record dpr
												ON 
												dc.id=dpr.character_id ) 
		ON 
			dpr.player_id=dp.id 
		WHERE
			dp.role = "player" AND dp.user_id = du.id AND dp.game_id = #{gameId} 
	
	</select>
	
	<select id="queryHasAttendGameDao" parameterType="long" resultType="Integer">
	
		SELECT
			count(1)
		FROM
			d_player
		WHERE
			user_id = #{userId}
	
	</select>
	
	<insert id="applyForGameDao" parameterType="ApplyDTO">
	
		INSERT INTO d_player (
			user_id,
			role,
			game_id,
			apply_time
						
		) 
		VALUES (
			#{userId},
			"judger",
			#{gameId},
			NOW()
		)
	
	</insert>
	
	<insert id="publishGameDao" parameterType="PublishGameDTO" useGeneratedKeys="true" keyProperty="gameId">
	
		INSERT INTO d_game (
			description,
			player_num,
			status,
			estimated_start_date,
			qq_group,
			remark,
			character_select	
		) 
		VALUES (
			#{gameDesc},
			#{playerNum},
			1,
			#{startDate},
			#{qqGroup},
			#{remark},
			#{characterSelect}
		)
	
	</insert>
	
	<update id="changeStatusDao" parameterType="ChangeStatusDTO">
	
		UPDATE
			d_game dg
		SET
			dg.status=#{status}
		WHERE
			dg.id=#{gameId}
	
	</update>
	
	<update id="submitApplyListDao" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
				UPDATE 
					d_player_record dpr 
				<set>
				  	dpr.sign=#{item.sign},
				  	dpr.identity_desc=#{item.identityDesc},
				  	dpr.camp=#{item.camp},
				  	dpr.is_life=#{item.isLife},
				  	dpr.is_mute=#{item.isMute}
				  	<if test="item.action != null">
				  	,dpr.action=#{item.action}
				  	</if>
				  	<if test="item.privilege != null">
				  	,dpr.privilege=#{item.privilege}
				  	</if>
				  	<if test="item.feedback != null">
				  	,dpr.feedback=#{item.feedback}
				  	</if>
				  	<if test="item.vote != null">
				  	,dpr.feedback=#{item.feedback}
				  	</if>
				  	<if test="item.remark != null">
				  	,dpr.feedback=#{item.remark}
				  	</if>
				</set>  	
				WHERE
				  	dpr.player_id = #{item.playerId}
		 </foreach>
	
	</update>
	
	<select id="getFormListDao" parameterType="long" resultType="GameForm">
	
		SELECT
			df.id AS formId,
			df.header AS header
		FROM
			d_form df
		WHERE
			df.game_id = #{gameId}
		ORDER BY
			df.id
			
	</select>
	
	<insert id="createOrUpdateFormDao" parameterType="GameForm">
	
		<if test="formId>0">
			UPDATE 
				d_form df
			SET
				df.header=#{header},
				df.content=#{content},
				df.update_time=NOW()
			WHERE
				df.id=#{formId}
		</if>
		<if test="formId==0">
			INSERT INTO d_form (
				game_id,
				header,
				content,
				create_time
			)
			VALUES(
				#{gameId},
				#{header},
				#{content},
				NOW()
			)
		</if>
	
	</insert>

</mapper>