@CHARSET "UTF-8";

time{
	margin-left:10px;
}

input[type="checkbox"]{
	margin-right:5px;
}

.header {
	text-align: center;
}

.header h1 {
	font-size: 200%;
	color: #333;
	margin-top: 30px;
}

.header p {
	font-size: 14px;
}

#error-msg {
	display: none;
	color: red;
	margin-bottom: 10px;
}

#replace-panel .am-modal-dialog{
	height:400px;
	width:700px;
}

#player-panel .am-modal-dialog{

	height:420px;
	width:300px;
}

#player-panel legend,
#replace-panel legend,
#character-record-panel legend{
	text-align:center;
}

#player-panel fieldset,
#replace-panel fieldset,
#character-record-panel fieldset{
	margin-bottom:20px;
}

#player-panel .am-form,
#replace-panel .am-form,
#character-record-panel .am-form{
	padding:10px;
	text-align:left;
}

.float-panel{
	margin-top:20px;
}

.operation .am-btn{
	width:100px;
	
}

.invisible{
	display:none;
}

.dead{
	text-decoration:line-through
}

.silent{
	font-style: italic
}

.babbling{
	font-weight:bold
}

.float{
	float:right
}

#newspaper-content td{
	width:100px;
}

#edit-newspaper label{
	padding:0;
}

#edit-newspaper textarea{
	height:200px;
}

.am-comment{
	position:relative;	
}

.float-toolbar{
	position: absolute;
    right: 0;
    top: 0;
    display:none;
}

.float-toolbar .am-btn{
	display:block;
	float:none;
	margin:5px;
}

.float-toolbar .am-btn:first-child{
	margin-top:0px;
	margin-left:-1px;
}

.float-toolbar span{
	width:12px;
}

#speech-list{
	overflow-y:scroll;
	max-height:400px;
}

.announce-box textarea{
	width:80%;
	height:100px;
	display:inline-block;
}

.announce-box input[type=button]{
	display:inline-block;
	vertical-align:bottom;
}

#speech-list .am-panel-bd{
    margin-right: 64px;
    border: 1px solid #dedede;
    border-top: none;
}

#speech-list .am-panel-hd{
	margin-right: 64px;
	border:1px solid #dedede;
}

#speech-list .am-panel-default{
	position: relative;
	border:none;
}

#chat-list img{
	width:30px;
	height:30px;
}

#chat-list .float{
	margin-top:5px;
}

#sex-query li{
	margin-top:10px;
}

.nv-guide{
	margin:0 auto;
	margin-top:200px;
	overflow:hidden;
	text-align:center;
}

.nv-link{
	color:#0e90d2;
	cursor:pointer;
}

#seat-table-content p{
	margin:0;
}

#replay-area, #rule-editor{
	width:100%;
}

.code-style span{
	font-family : fantasy;
	font-size : 12pt;
	font-weight : normal;
	letter-spacing : 1px;
	margin-right:30px;
}

.cross {
	opacity: .2;
	-webkit-transition: all .3s;
    transition: all .3s;
    cursor:pointer;
}

.cross:hover{
	opacity: 1;
}

#character-header{
	background-color:white;
	position:fixed;
	top:0;
}

#character-record-panel table tr{
	 display:block;
}
#character-record-panel table tbody{
 	display: block;
    height: 400px;
    overflow: auto;
}

#character-record-panel table td,
#character-record-panel table th{
 	width:100px;
}



