@CHARSET "UTF-8";

.header {
	text-align: center;
}

.header h1 {
	font-size: 200%;
	color: #333;
	margin-top: 30px;
}

.header p {
	font-size: 14px;
}

#error-msg {
	display: none;
	color: red;
	margin-bottom: 10px;
}

#player-panel .am-modal-dialog{
	height:400px;
	width:300px;
}

#player-panel legend{
	text-align:center;
}

#player-panel fieldset{
	margin-bottom:20px;
}

#player-panel .am-form{
	padding:10px;
	text-align:left;
}

.operation .am-btn{
	width:100px;
	
}

.invisible{
	display:none;
}

.dead{
	text-decoration:line-through
}

.silent{
	font-style: italic
}

#newspaper-content td{
	width:100px;
}

#edit-newspaper label{
	padding:0;
}

#edit-newspaper textarea{
	height:200px;
}

.am-comment{
	position:relative;	
}

.float-toolbar{
	position: absolute;
    right: 0;
    top: 0;
    display:none;
}

.float-toolbar .am-btn{
	display:block;
	float:none;
	margin:5px;
}

.float-toolbar .am-btn:first-child{
	margin-left:-1px;
}

.float-toolbar span{
	width:12px;
}

#speech-list{
	overflow-y:scroll;
}