<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nv.dom.web.dao.newspaper.NewspaperMapper">

	<insert id="createOrUpdateNewspaperDao" parameterType="Newspaper">
	
		<if test="newspaperId>0">
			UPDATE 
				d_newspaper dn
			SET
				dn.header=#{header},
				dn.headline=#{headline},
				dn.headline_body=#{headlineBody},
				dn.subedition=#{subedition},
				dn.important_notice=#{importantNotice},
				dn.seat_table=#{seatTable},
				dn.update_time=NOW()
			WHERE
				dn.id=#{newspaperId}
		</if>
		<if test="newspaperId==0">
			INSERT INTO d_newspaper (
				game_id,
				header,
				headline,
				headline_body,
				subedition,
				important_notice,
				seat_table,
				create_time
			)
			VALUES(
				#{gameId},
				#{header},
				#{headline},
				#{headlineBody},
				#{subedition},
				#{importantNotice},
				#{seatTable},
				NOW()
			)
		</if>
	
	</insert>

</mapper>