<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nv.dom.web.dao.newspaper.NewspaperMapper">

	<insert id="createOrUpdateNewspaperDao" parameterType="Newspaper" useGeneratedKeys="true" keyProperty="newspaperId">
	
		<if test="newspaperId>0">
			UPDATE 
				d_newspaper dn
			SET
				dn.headline=#{headline},
				dn.headline_body=#{headlineBody},
				dn.subedition=#{subedition},
				dn.important_notice=#{importantNotice},
				dn.seat_table=#{seatTable},
				dn.update_time=NOW(),
				dn.status=#{status}
			WHERE
				dn.id=#{newspaperId}
		</if>
		<if test="newspaperId==0">
			INSERT INTO d_newspaper (
				game_id,
				header,
				headline,
				headline_body,
				subedition,
				important_notice,
				seat_table,
				create_time,
				status
			)
			VALUES(
				#{gameId},
				#{header},
				#{headline},
				#{headlineBody},
				#{subedition},
				#{importantNotice},
				#{seatTable},
				NOW(),
				#{status}
			)
		</if>
	
	</insert>
	
	<select id="getNewspaperListDao" parameterType="long" resultType="Newspaper">
	
		SELECT 
			dn.id AS newspaperId,
			dn.header AS header
		FROM
			d_newspaper dn
		WHERE
			dn.game_id = #{gameId}
		ORDER BY
			dn.id
		DESC
	
	</select>
	
	<select id="getNewspaperDetailDao" parameterType="long" resultType="Newspaper">
	
		SELECT 
			dn.id AS newspaperId,
			dn.header AS header,
			dn.headline AS headline,
			dn.headline_body AS headlineBody,
			dn.subedition AS subedition,
			dn.important_notice AS importantNotice,
			dn.seat_table AS seatTable
		FROM
			d_newspaper dn
		WHERE
			dn.id = #{newspaperId}
	
	</select>

</mapper>