<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nv.dom.web.dao.user.UserMapper">

	<select id="getUserCurRoleDao" parameterType="long" resultType="UserCurRole">
	
		SELECT 
			du.id AS userId,
			du.nickname AS userNickName,
			dp.role AS userCurRole,
			dg.id AS gameId,
			dg.desc AS gameDesc
		FROM 
			d_user du LEFT JOIN (d_game dg JOIN d_player dp ON dp.game_id = dg.id AND dg.status != 4)
		ON
			du.id = dp.user_id
		WHERE
			du.id = #{userId};
			
	
	</select>


</mapper>