<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nv.dom.web.dao.user.UserMapper">

	<select id="getUserCurRoleDao" parameterType="long" resultType="UserCurRole">
	
		SELECT 
			du.id AS userId,
			du.nickname AS userNickName,
			dp.role AS userCurRole,
			dp.id AS playerId,
			dg.id AS gameId,
			dg.description AS gameDesc
		FROM 
			d_user du LEFT JOIN (d_game dg JOIN d_player dp ON dp.game_id = dg.id AND dg.status != 4)
		ON
			du.id = dp.user_id
		WHERE
			du.id = #{userId};
			
	
	</select>
	
	<select id="getChatInfoDao" resultType="ChatInfo">
	
		SELECT 
			du.id AS toUserId,
			du.nickname AS toUserNickname,
			du.avatar AS toUserAvatar,
			du.motto AS toUserMotto
		FROM
			d_user du
		WHERE
			du.id = #{userId}
	
	</select>
	
	<select id="getOfflineChatDao" parameterType="long" resultType="OfflineChat">
	
		SELECT 
			dom.chat_id AS chatId,
			count(dom.chat_id) AS num,
			du.avatar AS toUserAvatar,
			du.nickname AS toUserNickname,
			du.motto AS toUserMotto		
		FROM
			d_offline_message dom,d_user du
		WHERE
			dom.to_user_id = #{userId} AND dom.from_user_id = du.id AND dom.is_read = 0
		GROUP BY
			dom.chat_id
			
	</select>
	
	<select id="getChatRecordDao" parameterType="GetChatRecordDTO" resultType="ChatDetail">
	
		SELECT
			dom.chat_Id AS chatId,
			dom.from_user_id AS fromUserId,
			dom.to_user_id AS toUserId,
			dom.content AS content,
			dom.create_time AS createTime
		FROM
			d_offline_message dom
		WHERE
			dom.chat_id = #{chatId}
		ORDER BY
			dom.create_time
		DESC
		LIMIT 
			#{offset},10 	
	
	</select>
	
	<update id="updateChatRecordDao" parameterType="GetChatRecordDTO">
	
		UPDATE 
			d_offline_message
		SET
			is_read = 1
		WHERE
			chat_id = #{chatId} AND to_user_id = #{userId} AND is_read = 0
	
	</update>

	<select id="getUserCardDao" resultType="UserCard">
	
		<![CDATA[
	
		SELECT
			du.id AS userId,
			du.nickname AS nickname,
			SUM(IF(dc.type=1,1,0)) AS identityCardNum,
			SUM(IF(dc.type=2,1,0)) AS campCardNum,
			SUM(IF(dc.type=3,1,0)) AS privilegeCardNum,
			SUM(IF(dc.type=4,1,0)) AS pioneerCardNum			
		FROM
			d_user du, d_card dc
		WHERE
			du.id = dc.user_id AND dc.expire_date >= NOW() AND dc.status = 1
		GROUP BY
			du.id
			
		]]>	
	
	</select>
	
	

</mapper>