<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nv.dom.web.dao.user.UserMapper">

	<select id="getUserCurRoleDao" parameterType="long" resultType="UserCurRole">
	
		SELECT 
			du.id AS userId,
			du.nickname AS userNickName,
			dp.role AS userCurRole,
			dg.id AS gameId,
			dg.description AS gameDesc
		FROM 
			d_user du LEFT JOIN (d_game dg JOIN d_player dp ON dp.game_id = dg.id AND dg.status != 4)
		ON
			du.id = dp.user_id
		WHERE
			du.id = #{userId};
			
	
	</select>
	
	<select id="getChatInfoDao" resultType="ChatInfo">
	
		SELECT 
			du.id AS toUserId,
			du.nickname AS toUserNickname,
			du.avatar AS toUserAvatar,
			du.motto AS toUserMotto
		FROM
			d_user du
		WHERE
			du.id IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
	
	</select>
	
	<select id="getOfflineChatDao" parameterType="long" resultType="OfflineChat">
	
		SELECT 
			dom.chat_id AS chatId,
			dom.from_user_id AS fromUserId,
			dom.content AS content,
			dom.create_time AS createTime		
		FROM
			d_offline_message dom
		WHERE
			dom.to_user_id = #{userId};
			
		DELETE FROM
			d_offline_message
		WHERE
			to_user_id = #{userId};
			
	</select>


</mapper>