<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nv.dom.web.dao.message.MessageMapper">

	<select id="getSpeechListDao" parameterType="long" resultType="Speech">
	
		SELECT 
			ds.id AS id, 
			ds.player_id AS playerId,
			ds.newspaper_id AS newspaperId,
			ds.character_name AS characterName,
			ds.character_avatar AS avatar,
			ds.type AS type,
			ds.content AS content,
			ds.create_time AS createTime
		FROM
			d_speech ds
		WHERE
			ds.newspaper_id = #{newspaperId}		
	
	</select>


</mapper>